h1,h2,h3,h4,h5,h6,p{
	margin:0;
	padding:0;
}
body{
	margin:0;
	background-image: url(../img/background.png);
	background-size: cover;
}
a{
	color: none;
	text-decoration: none;
	transition: 0.3s;
}
a:hover{
	text-decoration: none;
	color: initial;
}
.burger-bg{
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100vh;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;
}
.burger-bg.active{
	opacity: 1;
	visibility: visible;
}
.burger-menu{
	position: fixed;
	left: -100%;
	top: 0;
	background-color: #fff;
	width: 300px;
	height: 100vh;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;
}
.burger-menu.active{
	opacity: 1;
	visibility: visible;
	left: 0;
}
.close-btn{
	position: absolute;
	right: -50px;
	top: 10px;
	background: none;
	color: #fff;
	border:none;
	font-size: 30px;
}
header{
	padding-top: 40px;
}
.header-block{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo{
	width: 140px;
}
.header-logo img{
	max-width: 100%;
}
.header-info{
	display: flex;
	align-items: center;
}
.lang-link{
	color: #2f2f2f;
	font-size: 13px;
	font-family: 'BPGNinoMtavruli-Bold';
	padding-top: 4px;
}
.lang-link:last-child{
	margin-left: 30px;
}
.lang-link.active{
	width: 45px;
	height: 45px;
	color: #fff;
	border:1px solid #1c70b1;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1c70b1;
}
.myprofile{
	color: #fff;
	font-size: 14px;
	font-family: 'BPGNinoMtavruli-Bold';
	background-color: #8f419d;
	border: 2px solid #8f419d;
	padding: 12px 30px 8px;
	border-radius: 25px;
	margin: 0 45px 0 35px;
}
.myprofile:hover{
	color: #8f419d;
	background-color: #FFF;
}
.search-block{
	position: relative;
}
.search-block .search-input{
	display: block;
	position: absolute;
	right: 0;
	top: -22px;
	padding-left: 10px;
	height: 44px;
	outline: none;
	background-image: url("../img/search.png");
	background-position: right 5px center;
	background-repeat: no-repeat;
	background-size: 15px;
	font-family: 'BPG Excelsior DejaVu 2010';
	font-size: 12px;
	border: none;
	width: 20px;
	color: transparent;
}
.search-input::-webkit-input-placeholder {
	color: transparent;
}
.search-input:-ms-input-placeholder {
	color: transparent;
}
.search-input::placeholder {
	color: transparent;
}
.search-block .search-input.active{
	width: 220px;
	border: 1px solid #eaeaea;
	color: #000;
}
.burger-btn{
	margin-left: 25px;
	width: 45px;
	height: 45px;
	background-color: #ed1943;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 50%;
}
.burger-btn span{
	width: 15px;
    height: 2px;
    background-color: #fff;
    display: block;
}
.burger-btn span:nth-child(2){
	margin:2px 0;
}
.main-item{
	margin-top: 180px;
}
.mission{
	position: relative;
}
.mission .lg-title{
	position: absolute;
	color: #f5f5f5;
	font-size: 174px;
	font-family: 'BPGNinoMtavruli-Bold';
	z-index: -1;
	left: 0;
	top: -45px;
}
.projects-info{
	margin-left: 78px;
}
.projects-info .title{
	color: #000000;
	font-size: 38px;
	font-family: 'BPGNinoMtavruli-Bold';
}
.txt{
	color: #585858;
	font-size: 16px;
	font-family: 'BPG Excelsior DejaVu 2010';
	width: 500px;
	margin-left: 60px;
}
.buttons-link{
	font-size: 13px;
	font-family: 'BPGNinoMtavruli-Bold';
	border-radius: 25px;
	padding: 12px 20px 7px;
}
.left{
	color:#5c2e91;
	border:2px solid #5c2e91;
}
.left:hover{
	color: #fff;
	background-color: #5c2e91;
}
.right{
	color: #ed1943;
	border:2px solid #ed1943;
	margin-left: 20px;
}
.right:hover{
	color: #fff;
	background-color: #ed1943;
}
.logo-block{
	display: flex;
	justify-content: flex-end;
}
.grid{
	padding: 0 80px;
}
.info-block{
	flex-wrap: nowrap;
	overflow: auto;
	margin: 45px -15px 55px;
}
.pic-block{
	box-shadow: 0px 5px 15px -5px #e6e2e2;
	padding: 36px 22px 40px;
	margin-bottom: 20px;
}
.pic-item{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 25px;
}
.pic-item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.top-name{
	color: #333c4e;
	font-size: 14px;
	font-family: 'BPGNinoMtavruli-Bold';
}
.top-title{
	color: #000000;
	font-size:16px;
	font-family: 'BPGNinoMtavruli-Bold';
	line-height: 25px;
	margin: 25px 0;
	max-height: 45px;
	overflow: hidden;
}
.about{
	color: #737373;
	font-size: 13px;
	font-family: 'BPG Excelsior DejaVu 2010';
	max-height: 55px;
	overflow: hidden;
}
.down-block{
	margin-top: 30px;
}
.shape-block{
	color: #fff;
	font-family: 'BPGNinoMtavruli-Bold';
	font-size: 12px;
	border-radius: 25px;
	padding: 9px 24px 5px;
}
.red{
	border: 1px solid #ed1943;
	background-color: #ed1943;
}
.arrow-block i{
	color: #ababab;
}
.arrow-block i:hover{
	color: #ed1943;
}
.pink{
	border: 1px solid #e2068c;
	background-color: #e2068c;
}
.yellow{
	border: 1px solid #f6ce1d;
	background-color: #f6ce1d;
}
.blue{
	border: 1px solid #008eaf;
	background-color: #008eaf;
}
.projects-block{
	margin-bottom: 80px;
}
.archive-project{
	color: #e2068c;
	font-size: 13px;
	font-family: 'BPGNinoMtavruli-Bold';
	border: 2px solid #e1068b;
	border-radius: 25px;
	padding: 12px 24px 8px;
}
.archive-project:hover{
	color: #fff;
	background-color: #e1068b;
}